<app-timer-progress
  class="progress-timer"
  [fromTime]="this.startTime"
  [toTime]="this.targetTime"
></app-timer-progress>

<div class="timer">
  <span class="time minutes">{{ minutes }}</span>
  <app-status-logo
    class="divider-logo"
    [seconds]="seconds"
    [minutes]="minutes"
  ></app-status-logo>
  <span class="time seconds">{{ seconds }}</span>
</div>

<app-fake-status
  *ngIf="seconds !== '00' || minutes !== '00'"
  class="fake-timer"
></app-fake-status>

<div class="back" matTooltip="zur Zeitauswahl">
  <a
    [routerLink]="['/']"
    [queryParams]="{application: themeDeciderService.application}"
  >
    <fa-icon [icon]="['fas', 'history']"></fa-icon>
  </a>
</div>

<div class="alarmTrigger" matTooltip="manually trigger alarm"
     (click)="triggerAlarm()"
>
    <fa-icon [icon]="['fas', 'bullhorn']"></fa-icon>
</div>



