.all {
  height: 500px;
  width: 450px;
  display: grid;
  margin-top: 5em;
  justify-content: center;
  align-items: center;
  align-self: center;
  grid-template-rows: 1fr;
  grid-template-areas:
    "logo"
}

.app-logo {
  //border-color: red;
  //border-style: solid;
  height: 500px;
  width: 500px;
  grid-area: logo;
  display: flex;
  justify-self: center;
  text-align: center;
}

.logo {
  grid-area: logo;
  display: flex;
  justify-self: center;
  text-align: center;
}

.christmas-hat {
  width: 300px;
  transform: translate(60px, -102px);
}

.banner-flowers {
  width: 500px;
  transform: scaleY(1.5) scaleX(1.15) translate(0, 100px);
  filter: drop-shadow(5px 5px 5px darkgray);
}

.easter-fence {
  display: block;
  width: 600px;
  height: 200px;
  transform: translate(0, 200px);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.85));
}

.easter-rabbit {
  display: block;
  width: 125px;
  transform: translate(150px, -380px);
  //filter: drop-shadow(5px 5px 5px darkgray);
}
